* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
  background: #ccc;
}

article {
  width: 210mm;
  height: 297mm;
  margin: 20px auto;
  position: relative;
}

address {
  position: absolute;
  bottom: 8mm;
  right: 20mm;
}

h1 {
  position: absolute;
  top: 12mm;
  left: 20mm;
  width: 128px;
  height: 128px;
  font-size: 20px;
  letter-spacing: 1px;
  text-align: center;
  padding: 44px 0;
  color: white;
  text-shadow: 1px 1px 1px black;
}

/* Your CSS below here */

body {
  background-color: white;
}

article {
  border-top: 1px solid red;
  border-bottom: 1px solid red; 
  margin-bottom: 1px; 
  border-top-color:red;  
  background-position: 0px 0px, right bottom;
  background-image: 
        url(../images/top-image.png),          
        url(../images/bottom-image.png),
        linear-gradient(rgba(0,0,0,0.1) 50px, rgba(0,0,0,0),rgba(0,0,0,0.1) 50px);
  background-repeat:  no-repeat, no-repeat;
  background-position:  top, bottom;   
}

h1 {
  position: relative;
  background-image: url(../images/logo.png);
  background-repeat: no-repeat;
  background-position: 100% center;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.7);
  border-radius: 100px;    
}
